form {
  margin-top: 2rem;
}

.wrapper {
  border: 1px solid #f00;
  margin: 8rem auto;
  width: 90rem;
}

.header {
  background: #000;
  color: #fff;
  font-size: 4.5rem;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  text-align: center;
}
