html {
  font-size: 10px;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
label {
  font-size: 2rem;
}
.App-header {
  align-items: center;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 4vmin);
  font-weight: bold;
  justify-content: center;
  padding: 2rem;
  text-transform: uppercase;
  width: 100%;
}
