.line-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.line-item input,
.line-item button {
    align-self: flex-start;
    font-weight: bold;
    height: 3rem;
}

.line-item button {
    width: 3rem;
}

.line-item input::-webkit-outer-spin-button,
.line-item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.line-item input[type=number] {
  -moz-appearance: textfield;
}



.line-item input.quantity {
    flex-shrink: 1.75;
}

.line-item input.title {
    flex-grow: 1;
}

.line-item input.desc {
    flex-grow: 1;
}

.line-item input.amount {
    flex-shrink: 1.6;
}

.button-group {
    display: flex;
    flex-direction: column;
    flex-shrink: 1.5;
}
