.line-item input::-webkit-outer-spin-button,
.line-item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.line-item input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
